<%= simple_form_for(@anchor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :elevation %>
    <%= f.input :what_3_words %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
