<div class="table-responsive small">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ISO3</th>
        <th>Latitude, Longitude</th>
        <th>Elevation</th>
        <th>What 3 words</th>
        <th>Label</th>
        <th></th>
        <% if can? :manage, :anchor %>
        <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% anchors.each do |anchor| %>
        <tr>
          <td><%= anchor.iso3 %></td>
          <td><%= link_to anchor.google_map_url, target: :_blank do %>
            <%= anchor.latitude %>, <%= anchor.longitude %>
          <% end %></td>
          <td><%= anchor.elevation || 'unknown' %></td>
          <td><%= link_to anchor.what_3_words_url, target: :_blank do %>
            <%= anchor.what_3_words || 'unknown' %>
          <% end %></td>
          <td><%= anchor.label %><span class="small text-muted"><%= anchor.sublabel %></span></td>
          <td><%= link_to 'Show', anchor, class: 'btn btn-sm btn-info' %></td>
          <% if can? :manage, :anchor %>
          <td><%= link_to 'Edit', edit_anchor_path(anchor), class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Destroy', anchor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <%= paginate anchors, param_name: (param_name||=:page) %>
</div>
