<div class="d-flex justify-content-center align-items-center">
  <h1>Anchors Groups <span class="small text-muted">total : <%= @anchor_groups_count %></span></h1>
  <% if can? :manage, :anchor_group %>
  <div class="ml-auto"><%= link_to 'New Anchor Groups', new_anchor_group_path, class: 'btn btn-primary' %></div>
  <% end %>
</div>

<div class="table-responsive small">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>ISO3</th>
        <th>Latitude, Longitude</th>
        <th>Elevation</th>
        <th>What 3 words</th>
        <th>Label</th>
        <th>Anchors count</th>
        <th></th>
        <% if can? :manage, :anchor_group %>
        <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @anchor_groups.each do |anchor_group| %>
        <tr>
          <td><%= anchor_group.iso3 %></td>
          <td><%= link_to anchor_group.google_map_url, target: :_blank do %>
            <%= anchor_group.latitude %>, <%= anchor_group.longitude %>
          <% end %></td>
          <td><%= anchor_group.elevation %></td>
          <td><%= link_to anchor_group.what_3_words, anchor_group.what_3_words_url, target: :_blank %></td>
          <td><%= anchor_group.label %><span class="small text-muted"><%= anchor_group.sublabel %></span></td>
          <td><%= anchor_group.anchors_count %></td>
          <td><%= link_to 'Show', anchor_group, class: 'btn btn-sm btn-info' %></td>
          <% if can? :manage, :anchor_group %>
          <td><%= link_to 'Edit', edit_anchor_group_path(anchor_group), class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Destroy', anchor_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @anchor_groups %>
</div>
