<!DOCTYPE html>
<html>
  <head>
    <title>WhereArePorts</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'port.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_message %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
